<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.18.0" targetFramework="net452" />
  <package id="Excel-DNA" version="0.33.9" targetFramework="net452" />
  <package id="ExcelDna.AddIn" version="0.33.9" targetFramework="net452" />
  <package id="ExcelDna.Integration" version="0.33.9" targetFramework="net452" />
  <package id="ExcelDna.Registration" version="0.33.9" targetFramework="net40-client" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40-client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-client" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40-client" />
  <package id="NetMQ" version="3.3.3.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40-client" />
</packages>